CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret
ADMIN_API_KEY=your_admin_api_key
DB_URL=jdbc:postgresql://localhost:5432/smile_studios
DB_USERNAME=postgres
DB_PASSWORD=your_postgres_password

